/* css/style.css */

html, body {
  height: 100%;
}

#records-nav .nav a.add-new {
  background-color: rgb(16, 200, 16);
  color: white;
}

.records.records-titles {
  height: 56px;
}

.records.records-tables {
  padding: 16px 0;
}
.records.records-tables table .glyphicon {
  padding: 1px 4px;
}
@media screen and (max-width: 768px) {
  .records.records-tables td {
    font-size: 12px;
  }
}
@media screen and (min-width: 769px) {
  .records.records-tables td {
    font-size: 14px;
  }
}

.records.records-tables td.first,
.records.records-tables td.last {
  text-align: center;
}
.records.records-tables td.hostname,
.records.records-tables td.time {
  font-family: 'sans';
}
.records.records-tables td.ip,
.records.records-tables td.mac {
  font-family: 'mono';
}
.records.records-tables a.gly-remove {
  color: rgb(200, 16, 16);
}
.records.records-tables a.gly-edit {
  color: black;
}
.records.records-tables a.gly-info {
  color: rgb(16, 16, 200);
}

.mono {
  font-family: 'mono';
}

.btn.btn-cancel {
  background-color: rgb(200, 16, 16);
  border-color: rgb(116, 32, 32);
  color: white;
}

/* vim: set ts=2 sw=2 et syn=css: */
