/* css/style.css */

html, body {
  height: 100%;
}

.records.records-titles {
  height: 56px;
}

.records.records-tables table .glyphicon {
  padding: 1px 4px;
}
@media screen and (max-width: 768px) {
  .records.records-tables td {
    font-size: 12px;
  }
}
@media screen and (min-width: 769px) {
  .records.records-tables td {
    font-size: 14px;
  }
}

.records.records-tables td.first {
  text-align: left;
}
.records.records-tables td .hostname,
.records.records-tables td .time {
  font-family: 'sans';
}
.records.records-tables td .ip,
.records.records-tables td .mac {
  font-family: 'mono';
}
.records.records-tables td.last {
  text-align: right;
}
.records.records-tables td.last .modal {
  text-align: left;
}

.record-info {
  font-family: 'mono';
}

/* vim: set ts=2 sw=2 et syn=css: */
